* {
	box-sizing: border-box;
}
#wrapper {
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
	overflow: hidden;
}
.header, .footer {
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.header {
	padding: 0 25px;
	border-bottom: 2px solid #c0c0c0;
}
.logo {
	width: 190px;
}
.main-nav ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.main-nav li {
	list-style: none;
	padding-right: 25px;
}
.main-nav li:last-child {
	padding-right: 0;
}
.main-nav a, .main a {
	text-decoration: none;
	color: inherit;
}
.main-nav a:hover {
	color: #4682B4;
}
.main {
	padding: 30px 0 50px 0;
}
.main h2 {
	color: #A5285C;
	font-size: 1.9em;
}
.main article {
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding-bottom: 60px;
}
.main article:nth-child(odd) {
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-o-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.main img {
	width: 190px;
	margin-right: 25px;
}
.main article:nth-child(odd)>img {	
	margin-right: 0;
	margin-left: 25px;
}
.main p {
	margin-top: 0;
}
.main p:last-child {
	margin-bottom: 0;
}
.content {
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-align-items: stretch;
	align-items: stretch;
	margin: 0 -25px 0 -25px;
}
.product {
	width: 33.33%;
	padding: 25px;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.product a {
	display: block;
	height: 100%;
	padding: 25px;
	border: 1px solid black;
	transition: all 1s ease-out 0.2s;
}
.product a:hover {
	background: #4682B4;
	color: #fff;
	border-radius: 20px;
}
.product img {
	float: left;
	margin-bottom: 25px;
}
.footer {
	border-top: 2px solid #c0c0c0;
	padding-top: 25px;
}
.footer img {
	width: 95px;
}